[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tensorflow = ">=2.2.0,<2.3.0"
tensorflowjs = ">=2.0.0,<3.0.0"
numpy = "*"
matplotlib = "*"
plac = "*"

[dev-packages]

[requires]
python_version = "3.8"
