[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
keras=">=2.2.5,<2.3.0"
tensorflow = ">=1.15.2,<2.0.0"
matplotlib = "*"
scikit-learn = "*"
fastapi = "*"
uvicorn = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.7"
