<html>
<head>
  <title>Kalevala-kone</title>
  <link href="/static/styles/kalevala.css" rel="stylesheet">
  <link href="/static/favicon.ico" rel="shortcut icon">
  <script type="text/javascript" src="/static/js/kalevala.js"></script>
</head>
<body>
  <h1>Väinämöisen värssyvärkki</h1>
  <p> Miltä kansalliseepos kuulostaisi keinoälyn kirjoittamana?
    Trokeetekoäly voisi riimitellä vaikka tähän tapaan:
  <p id="verses">
    {% for verse in verses %}
      {{ verse }}
      {% if not loop.last %}
      <br>
      {% endif %}
    {% endfor %}
  </p>
  <div>
    <button class="btn-generate" type="button" onClick="generate_verses(document.getElementById('keywords-input').value)">
      Luo uusi runo
    </button>
    <br>
    Aihe runoon:
    <input type="text" name="keywords" id="keywords-input" onkeypress="return keyhandler(event)">
  </div>
  <footer>
    <a href="static/selitys.html">Mitä tämä on?</a>
    &#8226;
    <a href="https://github.com/aajanki/kalevala-rnn">Lähdekoodi</a>
    &#8226;
    <a href="mailto:antti.ajanki@iki.fi">Palaute</a>
  </footer>
</body>
</html>
