<html>
<head>
  <title>Kalevala-kone</title>
  <link href="/static/styles/kalevala.css" rel="stylesheet">
  <script type="text/javascript" src="/static/js/kalevala.js"></script>
</head>
<body>
  <div id="poem">
    <p id="poem-text">
      {% for verse in verses %}
        {{ verse }}
        {% if not loop.last %}
        <br>
        {% endif %}
      {% endfor %}
    </p>
    <div>
      <button class="btn-generate" type="button" onClick="generate_verses(document.getElementById('keywords-input').value)">Luo uusi runo</button>
      <br>
      Sanoja runoon: <input type="text" name="keywords" id="keywords-input" onkeypress="return keyhandler(event)">
    </div>
  </div>
  <footer>
    <div class="footer-details">
      <a href="https://github.com/aajanki/kalevala-rnn">lähdekoodi</a>
    </div>
  </footer>
</body>
</html>
