body {
    margin: 0 auto;
    width: 30em;
}

#verses {
    font-size: large;
    line-height: 1.5em;
    width: 20em;
    margin: 20px auto;
}

.btn-generate {
    display: block;
    font-size: large;
    color: #fff;
    background: #028da4;
    border: 1px solid #028da4;
    border-radius: 6px;
    margin: 10px auto;
    padding: 8px;
    cursor: pointer;
}

.btn-generate:hover {
    background: #02abc7;
    border: 1px solid #02abc7;
}

footer {
    font-size: small;
    text-align: center;
    margin-top: 10px;
    padding-top: 4px;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: lightgray;
}
