#poem {
    margin: auto;
    width: 400px;
}

#poem p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 40px;
}

.btn-generate {
    display: block;
    font-size: 18px;
    color: #fff;
    background: #028da4;
    border: 1px solid #028da4;
    border-radius: 6px;
    margin: 10px auto;
    padding: 8px;
    cursor: pointer;
}

.btn-generate:hover {
    background: #02abc7;
    border: 1px solid #02abc7;
}

.footer-details {
    font-size: 12px;
    text-align: center;
    padding-top: 8px;
}
